<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

  </head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Admin Home</a>
              <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarSupportedContent">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-grow-1 bd-highlight">
                  </div>
                  <div class="p-2 bd-highlight"></div>
                  <div class="p-2 bd-highlight">
                    <a class="nav-link active" aria-current="page" href='/admin1/logout/' style="text-decoration: none; color: black;">Logout</a>
                    <a class="nav-link active" aria-current="page" href='/admin1/adduser/' style="text-decoration: none; color: black;">Add User</a>
                  </div>
                </div>
              </div>
            </div>
        </nav>
    </section>
    <section>
      <div class="container">
        <table class="table" id="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">First_name</th>
              <th scope="col">Last_name</th>
              <th scope="col">User_name</th>
              <th scope="col">email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ob in user%}
            <tr>
              <th scope="row">{{ob.id}}</th>
              <td> {{ob.first_name}} </td>
              <td>{{ob.last_name}}</td>
              <td>{{ob.username}}</td>
              <td>{{ob.email}}</td>
              <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/admin1/edit/{{ob.id}}"><button type="button" class="btn btn-warning">Edit</button></a>
                <a href="/admin1/delete/{{ob.id}}"><button type="button" class="btn btn-success">Delete</button></a>
              </div></td>
            </tr>
            {%endfor%}
          </tbody>
      </table>
      </div>
        
    </section>
    
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#table').DataTable();
      });
    </script>

</body>
</html>